#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #212529 0%, #0f4c5c 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 680px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background: url('../../images/leading.svg') no-repeat 100% center;

}
#page-landing .content-wrapper .logo{
    font-size: 50px;
    line-height: 70px;
}

#page-landing .content-wrapper .logo .map-color { 
    width: 80px;
    height: 80px;
}

#page-landing .content-wrapper main h1 {
    max-width: 400px;
    font-size: 65px;
    line-height: 70px;
}

#page-landing .content-wrapper main p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
    max-width: 350px;
}

.content-wrapper .location {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    text-align: right;
}


.content-wrapper .enter-app {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    background: linear-gradient(329.54deg, #96feff 0%, #2a9d8f 100%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
    background: linear-gradient(329.54deg, #2a9d8f 0%, #96feff 100%);
}

